.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #25304e);
}

.title{
    font-size: 85px;
    color: #fff;
    animation: flipTitle 2s;
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 500px;
    border-radius: 8px;
    box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.3);
    animation: flipMainText 1s;
}

.main h2{
    margin: 16px 0;
    font-size: 39px;
    color: #d61212;
}

.main span{
    margin-bottom: 12px;
    font-weight: bold;
}

.ButtonbackHome{
    border: 0;
    padding: 8px;
    margin: 34px 0;
    border-radius: 8px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}

.ButtonbackHome:hover{
    background-color: white;
    transform: scale(1.1);
}

@keyframes flipTitle {
    0% {
      transform: rotateX(90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      transform: rotateX(0deg);
    }
}

@keyframes flipMainText {
    0% {
      transform: rotateX(90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      transform: rotateX(0deg);
    }
}

@media(max-width: 620px){
    .title{
        font-size: 60px;
    }
    .main h2{
        font-size: 32px;
    }
    .main{
        width: 80%;
    }
}

@media(min-width: 900px){
    .title{
        font-size: 120px;
    }
    .main h2{
        font-size: 60px;
    }
    .main span{
        font-size: 26px;
    }
    .main{
        width: 80%;
    }

    .containerInput input{
        width: 500px;
    }

    .containerInput{
        padding: 16px;
        margin-bottom: 60px;
    }

    .containerInput input::placeholder{
        font-size: 30px;
    }

    .ButtonbackHome{
        font-size: 30px;
    }
}
